body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  margin: auto;
  width: 100%;
  border: 5px solid green;
  text-align: center;
}
.App-containers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 5px solid aqua;
}
.App-container {
  border: 5px solid magenta;
  width: 85%;
  margin: 20px;
  padding: 10px;
}