body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  margin: auto;
  width: 100%;
  border: 5px solid green;
  text-align: center;
}
.App-containers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 5px solid aqua;
}
.App-container {
  border: 5px solid magenta;
  width: 85%;
  margin: 20px;
  padding: 10px;
}


/*rows*/
.row {
  text-align: center;
  display: flex;
  justify-content: center;
}
.row > div {
  display: block;
  width: 60px;
  height: 60px;
  border: 2px solid #d3d6da;
  margin: 4px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
}
.row > div.green {
  border-color:#565758;
  --background: #6aaa64;
  --border-color: #6aaa64;
  animation: Flip 700ms linear forwards;
}
.row > div.yellow {
  border-color:#565758;
  --background: #c9b458;
  --border-color: #c9b458;
  animation: Flip 700ms linear forwards;
}
.row > div.gray {
  border-color:#565758;
  --background: #787c7e;
  --border-color: #787c7e;
  animation: Flip 700ms linear forwards;
}
.row.current > div.filled {
  animation: PopIn forwards;
  animation-duration: 100ms;
  border-color: #565758;
}
.row > div:nth-child(2) {
  animation-delay: 350ms;
}
.row > div:nth-child(3) {
  animation-delay: 700ms;
}
.row > div:nth-child(4) {
  animation-delay: 1050ms;
}
.row > div:nth-child(5) {
  animation-delay: 1400ms;
} 


/*keyboard*/
#keyboard-container {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.keyboard-button {
  /* border: 2px solid red; */
  font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0.5rem;
    height: 58px;
    border-radius: 4px;
    cursor: pointer;
  font-size: 1rem;
  /* font-weight: 700; */
  padding: 0.5rem;
  margin: 5px 3px;
  text-transform: uppercase;
  min-width: 40px;
  background: #d3d6da;
}



/*animations*/
@keyframes PopIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  40% {
    transform: scale(1.1);
    opacity: 1;
  }
}
  @keyframes Flip {
    0% {
      transform: rotateX(0);
      border-color:#565758;
    }
    49% {
      transform: rotateX(-90deg);
      background: #ffffff;
      border-color: #565758;
      color: #000000;
    }
    51% {
      transform: rotateX(-90deg);
      background: var(--background);
      border-color: var(--border-color);
      color: #ffffff;
    }
    100% {
      transform: rotateX(0);
      background: var(--background);
      border-color: var(--border-color);
      color: #ffffff;
    }
}